.wrapper {
  max-width: 1280px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
}

.form {
  min-width: 300px;
}

.form input {
}

.gender-select {
  display: flex;
  justify-content: space-evenly;
}
