#root {
  width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  min-height: 100vh;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.tabs {
  display: flex;
  justify-content: center;
  gap: 16px;
  width: 100%;
  max-width: 520px;
  margin-bottom: 32px;
}

.tabs button {
  flex: 1;
}

.page-wrapper {
  display: flex;
  flex-direction: column;
  gap: 24px;
  width: 100%;
}
